{% load static %}
{% load bootstrap3 %}
{% load cookielaw_tags %}


<!DOCTYPE html>
<html lang="en" class="{% block bg_class %}logo_bg{%  endblock %}">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.65">
        <title>Carousel Fitness</title>

        <link rel="icon" type="image/png" href="{% static 'website/images/logo_no_text_transparent.png' %}">
        <link rel="shortcut icon" href="{% static 'website/images/favicon.ico' %}" type="image/vnd.microsoft.icon">

        <!-- Bootstrap core CSS -->
        {% bootstrap_css %}

        <link href="{% static 'website/css/custom-v3.css' %}" rel="stylesheet">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
         <!--<link rel="stylesheet" href="{% static 'website/bootstrap/font-awesome.min.css' %}">-->

        {% block extrahead %}{% endblock %}

    </head>
<body>

    <div class="wrap">
        <!-- Fixed navbar -->
        <div style="margin-top: 45px" class="navbar navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" rel="home" href="/" title="Carousel Fitness">
                        <img  style="max-width:150px; margin-top: -58px; margin-left: 0; padding-left: 0;" src="{% static "website/images/logo_wide_no_text.jpg" %}">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-left">
                        <li><a {% if section == 'about' %}class="active"{% endif %} href="{% url 'website:about' %}">About us</a></li>
                        <li><a {% if section == 'timetable' %}class="active"{% endif %} href="{% url 'timetable:timetable' %}">Timetable</a></li>
                        <li class = "hidden-sm"><a {% if section == 'classes' %}class="active"{% endif %} href="{% url 'website:classes' %}">Classes</a></li>
                        <li><a {% if section == 'events' %}class="active"{% endif %} href="{% url 'booking:events' %}">Book</a></li>
                        <li class="hidden-sm hidden-md"><a {% if section == 'membership' %}class="active"{% endif %} href="{% url 'website:membership' %}">Membership</a></li>
                        <li class = "hidden-sm hidden-md"><a {% if section == 'instructors' %}class="active"{% endif %} href="{% url 'website:instructors' %}">Instructors</a></li>
                        <li class = "hidden-sm hidden-md"><a {% if section == 'venues' %}class="active"{% endif %} href="{% url 'website:venues' %}">Venues</a></li>
                        <li class = "hidden-sm hidden-md" ><a {% if section == 'parties' %}class="active"{% endif %} href="{% url 'website:parties' %}">Parties</a></li>
                        <li class = "hidden-sm hidden-md " ><a {% if section == 'gallery' %}class="active"{% endif %} href="{% url 'gallery:gallery' %}">Gallery</a></li>
                        <li ><a {% if section == 'contact' %}class="active"{% endif %} href="{% url 'website:contact' %}">Contact us</a></li>
                        <li class="visible-sm visible-md dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
                          <ul class="dropdown-menu">
                                <li class="hidden-md"><a href="{% url 'website:classes' %}">Classes</a></li>
                                <li><a href="{% url 'website:instructors' %}">Instructors</a></li>
                                <li><a href="{% url 'website:venues' %}">Venues</a></li>
                                <li><a href="{% url 'website:parties' %}">Parties</a></li>
                                <li><a href="{% url 'gallery:gallery' %}">Gallery</a></li>
                              <li><a href="{% url 'website:membership' %}">Membership</a></li>
                          </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        {% if user.is_authenticated %}
                        <li class="dropdown pull-right">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My account<b class="caret"></b></a>
                          <ul class="dropdown-menu pull-right">
                                <li><a class="account-menu-option" href="{% url 'accounts:profile' %}">Profile</a></li>
                                <li><a class="account-menu-option" href="{% url 'account_change_password' %}">Change password</a></li>
                                <li><a class="account-menu-option" href="{% url 'booking:bookings' %}">Bookings</a></li>
                                <li><a class="account-menu-option" href="{% url 'booking:booking_history' %}">Past bookings</a></li>
                                <li><a class="account-menu-option" href="{% url 'account_logout' %}">Log out</a></li>
                                {% if user.is_staff %}
                                    <li><a class="account-menu-option" href="{% url 'studioadmin:regular_session_register_list' %}">Instructor Admin</a></li>
                                {% endif %}
                                {% if user.is_superuser %}
                                    <li><a class="account-menu-option" href="{% url 'admin:index' %}">Site Admin</a></li>
                                {% endif %}

                          </ul>
                        </li>
                      {% else %}
                        <li class="pull-right"><a href="{% url 'account_login' %}">Log in</a></li>
                      {% endif %}

                   </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        {% cookielaw_banner %}

        {% if messages %}
            <div class="extra-top-margin col-xs-12">
                {% for message in messages %}
                <div {% if message.tags and message.tags == 'error' %}
                            class="message alert alert-danger"
                     {% elif message.tags %}
                            class="message alert alert-{{ message.tags }}"
                     {% endif %}>
                    {% if 'safe' in message.tags %}
                        {{ message|safe }}
                    {% else %}
                        {{ message }}
                    {% endif %}</div>
                {% endfor %}
            </div>
        {% endif %}

    <div class="container-fluid mt-2">
        <div class="message alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            <p>We have made the decision that it is the end of the road for Carousel Fitness.  We are ready to put our all into our own ventures.</p>

            <p>We understand that Carousel has been a big part of many peoples lives and we are so grateful to everyone who has attended classes with us and helped pull us through these last few months.</p>

            <p>Although it is the end of an era we know this is the right decision for us. Carousel will always hold a special place in our heart, as will all our students.</p>

            <p>We want to say a huge thank you to everyone and we are very excited to move onto the next chapter in our lives.</p>

            <p>We love you and appreciate you.</p>

            <p>Don't forget to check out <a href="https://www.facebook.com/FitnesswithemmaJ">Fitness with Emma</a> on Facebook to keep up to date with Emma and <a href="https://www.instagram.com/sunshinefitnessfife/">Sunshine Fitness</a> on Instagram for Kira.</p>

            <p>We will keep the Carousel pages going for another month so please save any photos or posts that you like before the pages come down.</p>

            <p>We love and appreciate you all,</p>

            <p>Emma and Kira</p>


        </div>

    </div>


        {% block content %}
        <p>You need to define a content block!</p>
        {% endblock %}

<!--/.footer -->
    <div class="push">
    </div>
    </div> <!--/end of page .wrap -->

    <div class="footer">
            <span class="divider"></span>

        <div class="container-fluid">
            <div class="row footer_box">
                <div class="col-sm-5 pull-left">
                    <div class="footer-fb">
                    <a href="https://www.facebook.com/carouselfitness">
                        <span class="fab fa-facebook-square"></span> Visit us on Facebook
                    </a>
                    </div>
                    <div class="footer-credit">Site developed by <a href="https://twitter.com/rebkwok" target="_blank" style="color: #0B0B61">Becky Smith</a></div>
                    <div class="footer-credit"><a href="{% url 'data_privacy_policy' %}">Data Privacy Policy</a></div>
                </div>
                <div class="col-sm-4">
                    <div class="footer-link-box"><a class="footer-link" href="{% url 'timetable:timetable' %}">Find a class</a></div>
		            <div class="footer-link-box"><a class="footer-link" href="{% url 'website:contact' %}">Contact us</a></div>
                </div>


                <div class="hidden-xs col-sm-3 footer-logo pull-right">
                    <img class="pull-right img-responsive" style="max-height:50px; margin-bottom:5px"; src="{% static "website/images/logo_text_only.png" %}">
                </div>
            </div>
        </div>
    </div>

</body>


    <!-- Google analytics
    ======================================================-->
    <!--<script>-->
          <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
          <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
          <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
          <!--})(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

          <!--ga('create', 'UA-51541461-1', 'auto');-->
          <!--ga('send', 'pageview');-->

    <!--</script>-->

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    {% bootstrap_javascript jquery=3 %}

    <div id="fb-root"></div>
    <script src="{% static "website/js/custom-v3.js" %}"></script>
    <script src="{% static "website/js/ajax_csrf.js" %}"></script>
    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>

    {% block extrascripts %}{% endblock %}

</html>
