{% extends 'website/_base.html' %}

{% block content %}

<div class="container-fluid reduce-top-margin">
	<div class="row">
		<div class="page-header col-xs-12">
			<h1>Contact us</h1>
        </div>
		<div class="col-xs-12">
            <h3>Class Bookings</h3>
                <p>For details of specific classes and to book, please see the
                    <a href="{% url 'timetable:timetable' %}">timetable</a>.</p>

            <h3>Other enquiries</h3>

                <p>For enquiries about classes, membership options, private
                    or party bookings, or any other questions, please use our contact form below:</p>
                <div class="panel panel-booking">
                    {% include 'website/contact_form_detail.html' %}
                </div>


            <h3>Email</h3>
                <p>You can also contact us by email at <a href="mailto:carouselfitness@gmail.com" target="_blank">
				carouselfitness@gmail.com</a>.</p>
        </div>
    </div>
</div>

{% endblock %}
