{% extends "website/_base.html" %}
{% load static %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1 main-panel extend-content-area">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h1>Events</h1>
        </div>
    </div>
    {% if events %}
        {% for event in events %}
            <div class="row">
                <div class="col-sm-7 col-sm-offset-1">
                    <h3>{{ event.name }}</h3>
                    <p>{{ event.info|linebreaks }}</p>
                </div>
                <div class="col-sm-4 event_date">
                    <h4>Date</h4>
                    <p>{{ event.event_date }}</p>
                    {% if event.venue %}
                    <h4>Venue</h4>
                    <p>{{ event.venue }}</p>
                    <p>{{ event.venue.address }}</p>
                    <p>{{ event.venue.postcode }}</p>
                    {% endif %}
                </div>
            </div>
            </br></br>

        {% endfor %}

    {% else %}
    <div class="row">
        <div class="col-sm-7 col-sm-offset-1 content-area">
        <p>No forthcoming events.</p>
        </div>
    </div>
    {% endif %}
</div>

</div>
{% endblock %}
