{% extends "website/_base.html" %}

{% block content %}

<div class="container-fluid row reduce-top-margin">

    <div class="page-header col-xs-12">
        <h1>
            Membership & Prices
        </h1>
	</div>
	<div class="col-xs-12">
		<p>To book for specific classes, please see the <a href="{% url 'timetable:timetable' %}">timetable</a> or
			view all classes available for booking <a href="{% url 'booking:events' %}">here</a>.</p>
		<p>For membership queries, private lessons/one-to-one tuition, or any other enquiries, please <a href="{% url 'website:contact_form' %}">contact us</a>.</p>
    </div>
	<div class="col-xs-12">
		<h3>Non-member prices</h3>
		<p>Please see the <a href="{% url 'timetable:timetable' %}">timetable</a> for classes in each category.</p>
		<span class="label label-warning label-rounded label-member-title">Yellow classes</span>
			<ul>
				<li>Specialised classes, mainly Pole Fitness and Aerial Hoop</li>
				<li>£ 7 per class</li>
			</ul>
		<span class="label label-success label-rounded label-member-title">Green classes</span>
			<ul>
				<li>General fitnees, condiitioning and stretching classes</li>
				<li>£ 5 per class (HIIT/Circuits £3.50)</li>
			</ul>
		<span class="label label-primary label-rounded label-member-title">Open training</span>
			<ul>
				<li>Free use of our facilities and equipment</li>
				<li>£ 10 per day pass</li>
			</ul>
	</div>

	<div class="col-xs-12">
		<h3>Membership Options</h3>
			<p>
				We have a range of membership options available.
			</p>
	</div>

	<div class="col-xs-12">

		<div class="panel" style="background-color: rgba(240,240,240,0.8);">
			<div class="table-responsive">
				<table class="table member-table">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th class="table-center" colspan="3">Classes included per week</th>
							<th></th>
						</tr>
						<tr>
							<th>Option</th>
							<th>Monthly cost</th>
							<th><span class="label label-warning label-rounded label-member-title">Yellow classes</span></th>
							<th><span class="label label-success label-rounded label-member-title">Green classes</span></th>
							<th><span class="label label-primary label-rounded label-member-title">Open training</span></th>
							<th>Additional drop-in</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="timetable-row">A</td>
							<td class="timetable-row">£20</td>
							<td class="timetable-row">--</td>
							<td class="timetable-row member-data">1</td>
							<td class="timetable-row">--</td>
							<td class="timetable-row" rowspan="2">
								No class discounts (see non-member costs above)
							</td>
						</tr>
						<tr>
							<td class="timetable-row">B</td>
							<td class="timetable-row">£25</td>
							<td class="timetable-row member-data">1</td>
							<td class="timetable-row">--</td>
							<td class="timetable-row">--</td>
						</tr>
						<tr>
							<td class="timetable-row">C</td>
							<td class="timetable-row">£45</td>
							<td class="timetable-row">--</td>
							<td class="timetable-row member-data">Unlimited</td>
							<td class="timetable-row">--</td>
							<td class="timetable-row">
								<span class="label label-warning label-rounded label-member">Yellow classes: £5</span>
							</td>
						</tr>
						<tr>
							<td class="timetable-row">D</td>
							<td class="timetable-row">£40</td>
							<td class="timetable-row member-data">2</td>
							<td class="timetable-row">--</td>
							<td class="timetable-row">--</td>
							<td class="timetable-row" rowspan="2">
								<span class="label label-warning label-rounded label-member">Yellow classes: £5</span>
								<span class="label label-success label-rounded label-member">Green classes: £3.50</span>
							</td>
						</tr>
						<tr>
							<td class="timetable-row">E</td>
							<td class="timetable-row">£55</td>
							<td class="timetable-row member-data">3</td>
							<td class="timetable-row">--</td>
							<td class="timetable-row">--</td>

						</tr>
						<tr>
							<td class="timetable-row">F</td>
							<td class="timetable-row">£55</td>
							<td class="timetable-row member-data">2</td>
							<td class="timetable-row member-data">Unlimited</td>
							<td class="timetable-row member-data">Unlimited</td>
							<td class="timetable-row">
								<span class="label label-warning label-rounded label-member">Yellow classes: £5</span>
							</td>
						</tr>
						<tr>
							<td class="timetable-row">G</td>
							<td class="timetable-row">£70</td>
							<td class="timetable-row member-data">Unlimited</td>
							<td class="timetable-row member-data">Unlimited</td>
							<td class="timetable-row member-data">Unlimited</td>
							<td class="timetable-row">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<h3>Terms & Conditions</h3>
		<ul>
			<li>Memberships are <strong>non-refundable</strong></li>
			<li>24 hours notice is required in order to make up a class at a later date</li>
			<li>We have a 24hrs cancellation policy on drop in classes and private
				lessons or payment is still required
			</li>
			<li>Payment must be made before the 5th of each month</li>
			<li>Memberships are on a <strong>calendar month</strong> basis (i.e. 1st to the end of each month)</li>
		</ul>
	</div>

</div>

{% endblock %}
