{% extends 'website/_base.html' %}

{% block content %}

<div class="container-fluid reduce-top-margin">
	<div class="row">
		<div class="page-header col-xs-12">
			<h1>Hen/Birthday and Team Building Parties</h1>
        </div>
        <div class="col-xs-12">
            <p>We offer hen parties in burlesque and/ or pole dancing. We can either come to you at a suitable venue or we
                can host it at our studio. We can supply a buff butler to add to the fun on the day. We finish the
                parties off with some fun games to get you in the mood.</p>

            <p>All parties are suitable for any level of fitness and any experience. We tailor them to the needs of the
                individuals on the day.</p>

            <p>For more information or to book, please <a href="{% url 'website:contact_form' %}">contact us</a>.</p>


        </div>
    </div>
</div>


{% endblock %}
