.thumbnail-container {
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}


div.thumbnail-container > img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
div.thumbnail-container > img.portrait {
  width: 100%;
  height: auto;
}
