{% extends "website/_base.html" %}
{% load customtags %}

{% block content %}
<div class="reduce-top-margin">

    <div class="page-header fixed-table" >
        <h2>
            Timetable
        </h2>
    </div>

    {% if timetable_sessions %}


        <form class="filter-row" action="" method="get">
            <div class="row">
                <div class="col-sm-2">
                    <strong>Show classes by: </strong>
                </div>
                <div class="col-sm-2 filter">{{ form.filtered_session_type }}</div>
                <div class="col-sm-2 filter">{{ form.filtered_venue }}</div>
                <div class="col-sm-1"><input class="btn btn-info table-btn" type="submit" value="Go" /></div>
            </div>
        </form>
        </br>

        <div>
            <div class="panel" style="background-color: rgba(230,230,230,0.6);">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Class <span class="help-text" style="white-space: nowrap;"></br>
                                <a href="{% url 'website:classes' %}">Class information</a></span>
                            </th>
                            <th>Cost
                                <span data-toggle="tooltip" title="Drop-in Cost for members/non-members">
                                  <i class="fas fa-info-circle"></i>
                                </span>
                                <span class="help-text" style="white-space: nowrap;"></br>
                                <a href="{% url 'website:membership' %}">Membership options</a></span>
                            </th>
                            <th>Level</th>
                            <th>Venue <span class="help-text" style="white-space: nowrap;"></br>
                                <a href="{% url 'website:venues' %}">Venue locations</a></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for session in timetable_sessions %}
                        <tr
                            {% if session.venue.venue == "The Watermelon Studio" %}
                                class="venue-edinburgh"
                            {% elif session.venue.venue == "Carousel Fitness Studio" %}
                                class="venue-inverkeithing"
                            {% elif session.venue.venue == "Cowdenbeath Studio" %}
                                class="venue-cowdenbeath"
                            {% elif session.venue.venue == "Energy Zone" %}
                                class="venue-energyzone"
                            {% endif %}>
                            <td class="table-center timetable-row">
                                <!--<a href="{% url 'website:booking_request' session.pk %}">-->
                                <a href="{% url 'booking:events' %}?name={{session.name}}&level={{session.level}}&venue={{session.venue.abbreviation}}&day={{session.session_day}}&time={{session.start_time|date:'H:i'}}">
                                <div class="btn btn-info table-btn booking-btn">View Dates</div></a>
                            </td>
                            <td class="timetable-row">{{ session.session_day|format_day }}</td>
                            <td class="timetable-row">{{ session.start_time|time:"H:i" }} - {{ session.end_time|time:"H:i" }}</td>
                            <td class="table-center timetable-row">
                                {% if session.membership_category == "1" %}
                                    <span class="membership-label label label-warning label-rounded">
                                {% elif session.membership_category == "2" %}
                                    <span class="membership-label label label-success label-rounded">
                                {% elif session.membership_category == "3" %}
                                    <span class="membership-label label label-primary label-rounded">
                                {% else %}
                                    <span>
                                {% endif %}
                                    {{ session.name }}
                                </span></td>
                            <td class="table-center timetable-row">
                                {% if session.members_only %}
                                Membership only
                                {% else %}
                                £ {{ session.cost | format_cost }}{% if session.alt_cost %} / £ {{ session.alt_cost | format_cost }}{% endif %}</td>
                                {% endif %}
                        <td class="timetable-row session-level-td">{{ session.level }}</td>
                            <td class="timetable-row">{{ session.venue.abbreviation }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% else %}
        <h4>Timetable not currently available</h4>
    {% endif %}
</div>


{% endblock %}
