{% extends "admin/base.html" %}
{% load static %}
{% load bootstrap3 %}


{% block extrastyle %}
<link href="{% static 'website/css/admin-extra.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'timetable/css/jquery.datetimepicker.css' %}"/ >

<script src="{% static 'timetable/js/jquery.js' %}"></script>
<script src="{% static 'timetable/js/moment.min.js' %}"></script>
<script src="{% static 'timetable/js/jquery.are-you-sure.js' %}"></script>
<script src="{% static 'timetable/js/jquery.datetimepicker.js' %}"></script>
<script src="{% static 'timetable/js/timetable.js' %}"></script>

{% endblock %}

{% block content %}

<div class="container-fluid row">

<h2>Upload timetable</h2>

    <div class="col-sm-12">

        <div>
        {{ form.media }}
        {% if form.errors %}
            <div class="form-error">
                <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
                <ul>
                {% for field in form %}
                {% if field.errors %}<li>{{ field.name }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}

            <div><p>Upload classes from the current timetable for the following date range:</p></div>
            <form method="post">
            {% csrf_token %}
            <div class="upload-timetable-form">
                {{form.as_p}}
            </div>

            <div>
                <button type="submit" class="btn btn-success">Upload</button>
            </div>

            </form>
            </div>

            </div>

    </div>

{% endblock %}
