{% extends 'website/_base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container row">

<h1>{% trans "Log In" %}</h1>

<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

<form class="login mock-bs-form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="primaryAction btn btn-success" type="submit">{% trans "Log In" %}</button>
   <a class="btn btn-success" href="#"
    onclick="this.href='{{ signup_url }}{% if redirect_field_value %}&{% else %}?{% endif %}username='
            + encodeURIComponent(document.getElementById('id_login').value);">
    Sign up for a new account</a>

  <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
</form>
</div>


{% endblock %}
