{% extends "website/_base.html" %}
{% load static %}

{% block extrahead %}<link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">{% endblock %}

{% block content %}

<div class="container row reduce-top-margin">
<div class="col-xs-12">
            <div class="page-header col-sm-12">
                <h1>
                    Gallery
                </h1>
            </div>

    {% if categories %}
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <form method="get">
                        <div class="btn-group-vertical" role="group">
                            <button class="btn btn-gallery {% if cat_selection == 'All' %}btn-gallery-active{% else %}btn-default{% endif %}"
                                                           type="submit" name="category" value="All">All <span class="badge">{{ total_image_count }}</span>
                            </button>
                            {% for category in categories %}
                                <button class="btn btn-gallery {% if cat_selection == category.id %}btn-gallery-active{% else %}btn-default{% endif %}"
                                        type="submit" name="category" value="{{ category.id }}">{{ category.name}} <span class="badge">{{ category.image_set.count }}</span></button>
                            {% endfor %}
                        </div>
                    </form>
                </div>


                <div class="col-sm-8 col-md-9">

                    {% for image in images %}
                        <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="#"
                           class="gallery-thumbnail"
                           data-image-id=""
                           data-toggle="modal"
                           data-title="{{ image.category }}"
                           data-caption="{% if image.caption %}{{ image.caption }}{% endif %}"
                           data-image="{{ MEDIA_URL }}{{ image.photo.name }}"
                           data-target="#image-gallery">
                            <div class="thumbnail-container"><img
                            src="{{ MEDIA_URL }}{{ image.photo.name }}"
                                 alt="Short alt text"></div>

                        </a>
                    </div>
                    {% endfor %}

                    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="image-gallery-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <img id="image-gallery-image" class="img-responsive" src="">
                                </div>
                                <div class="modal-footer">

                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-gallery btn-modal" id="show-previous-image">Previous</button>
                                    </div>

                                    <div class="col-md-8 text-justify" id="image-gallery-caption">
                                        This text will be overwritten by jQuery
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button" id="show-next-image" class="btn btn-gallery btn-modal">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    {% else %}
        <div class="col-sm-12">Coming soon</div>
    {% endif %}

    </div>

</div>
</div>


{%  endblock %}


{% block extrascripts %}<script src="{% static 'gallery/js/gallery.js' %}"></script>{% endblock %}
