{% extends "website/_base.html" %}
{% load static %}

{% block content %}

<div>

    <h2>Attempting to book for {{ event.name }}</h2>
        <h4>You have already booked for this {{ ev_type }}.</h4>
        <h4>See <a href="{% url 'booking:bookings' %}">your bookings</a> for details.</h4>

</div>

{% endblock content %}