{% extends "website/_base.html" %}
{% load static accounttags %}


{% block content %}

<div class="container-fluid">
        {% include "booking/includes/fees_due_banner.html" %}

        <h1 class="page-header">Book Workshops
        {% if classes_available_to_book %}
        </br><a class="page-header-note" href="{% url 'booking:events' %}">Show Classes</a>
        {% endif %}
        </h1>
        {% if not user.is_authenticated %}
        <div>
            <p><a class='btn btn-info' href="{% url 'account_login' %}?next={{request.get_full_path}}">Log in</a> to book</p>
            <span class="divider"></span>
        </div>
        {% else %}
            {% if not user|has_disclaimer %}
            {% if user|has_expired_disclaimer %}
                <p>Your disclaimer has expired or our terms have been updated. Please complete a new one
                    before booking.
                </p>
            {% else %}
                <p>Please complete a disclaimer before booking.</p>
            {% endif %}
                <a class="btn btn-primary" href="{% url 'accounts:disclaimer_form' user.id %}">Complete disclaimer now</a>
        <span class="divider"></span>
        {% endif %}
         {% endif %}

            <form class="filter-row" action="" method="get">
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Show workshops by: </strong>
                    </div>
                    <div class="col-sm-2 filter">{{ form.name }}</div>
                    <div class="col-sm-2 filter">{{ form.venue }}</div>
                    <input type="hidden" name="page" value="{{ request.GET.page }}" />
                    <div class="col-sm-1"><input class="btn btn-info table-btn" type="submit" value="Go" /></div>
                </div>
            </form>
            </br>

            {% if events %}

        <div class="row">
            <div class="col-sm-12">

                {% include 'booking/includes/events_pagination.html' %}
                <div class="panel panel-transparent">

                    <div class="table-responsive">
                        <table class="table">
                            <tr class="panel-heading">
                                {% if user.is_authenticated %}
                                    <th class="table-center table-book-btn-col"></th>
                                {% endif %}
                                <th class="table-center">Date</th>
                                <th class="table-center">Workshop</th>
                                <th class="hidden-sm hidden-xs table-center">Venue</th>
                                <th class="hidden-sm hidden-xs table-center">Cost</th>
                                <th class="hidden-xs table-center">Spaces</th>
                                <th class="hidden-xs table-center">Spaces left</th>
                            </tr>
                            <tbody>
                            {% for event in events %}
                                <tr class="table-row-transparent {% if event.cancelled %}expired{% elif event.id in booked_events %}table-row-booked{% endif %}">
                                {% if user.is_authenticated %}
                                    {% if event.id in staff_only_events %}
                                        <td class="table-center table-book-btn-col">VISIBLE TO STAFF ONLY</td>
                                    {% else %}
                                        <td class="table-center table-book-btn-col">
                                            {% if user|has_disclaimer %}
                                                {% if event.cancelled %}WORKSHOP CANCELLED
                                                {% elif event.id in booked_events %}
                                                    <span class="fa fa-check"></span> <a href="{% url 'booking:bookings' %}">Booked</a>
                                                {% elif event not in booked_events %}
                                                    {% if event.bookable %}
                                                        {% if user.has_outstanding_fees %}
                                                            <div id="book_button_disabled" class="btn btn-success table-btn disabled">Book</div>
                                                        {% else %}
                                                            <a href="{% url 'booking:book_event' event.slug %}"><div id="book_button" class="btn btn-success table-btn">Book</div></a>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if event.id in waiting_list_events %}
                                                            {% if user.has_outstanding_fees %}
                                                                <div class="btn btn-warning table-btn disabled" id="leave_waiting_list_button_disabled">Leave waiting list</div>
                                                            {% else %}
                                                                <form class="wl-table-form" action="{% url 'booking:book_event' event.slug %}" method="get">
                                                                    <input class="btn btn-warning table-btn" id="leave_waiting_list_button" type="submit" value="Leave waiting list" name="leave waiting list"/>
                                                                </form>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if user.has_outstanding_fees %}
                                                                <div class="btn btn-success table-btn disabled" id="join_waiting_list_button_disabled">Join waiting list</div>
                                                            {% else %}
                                                                <form class="wl-table-form" action="{% url 'booking:book_event' event.slug %}" method="get">
                                                                    <input class="btn btn-success table-btn" id="join_waiting_list_button" type="submit" value="Join waiting list" name="join waiting list"/>
                                                                </form>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <em><a href="{% url 'accounts:disclaimer_form' user.id %}">Complete disclaimer</a></em>
                                            {% endif %}
                                        </td>
                                        {% endif %}
                                    {% endif %}
                                    <td class="table-center">{{ event.date | date:"D d M H:i" }}</td>
                                    <td class="table-center"><a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a></td>
                                    <td class="hidden-sm hidden-xs table-center">{{ event.venue.abbreviation }}</td>
                                    <td class="hidden-sm hidden-xs table-center">£{{ event.cost }}</td>
                                    <td class="hidden-xs table-center">{% if event.max_participants %}{{ event.max_participants }}{% else %}N/A{% endif %}</td>
                                    <td class="hidden-xs table-center">{{ event.spaces_left }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>



                </div>
                {% include 'booking/includes/events_pagination.html' %}
            </div>
         </div>
        {% else %}
            <p>There are currently no workshops available to book.</p>
        {% endif %}

    </div>

{% endblock content %}
