{% extends "website/_base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
       <div class="panel panel-transparent">
            <div class="panel-heading">
                <h1 class="panel-title">Attempting to book for {{ event }}</h1>
            </div>

            <div class="panel-body">
                    <p>I'm sorry, this {{ ev_type }} is now fully booked.</p>
                    <p>Click below to join the waiting list</p>
                    <form action="{% url 'booking:book_event' event.slug %}" method="get">
                        <input class="btn btn-success table-btn" type="submit" value="Join waiting list" name="join waiting list"/>
                    </form>
            </div>

       </div>
</div>
{% endblock content %}
