{% extends "website/_base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin col-xs-12">

    <h2>The page you requested is not available.</h2>

</div>

{% endblock content %}