{% extends "website/_base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
       <div class="panel panel-transparent">
            <div class="panel-heading">
                <h1 class="panel-title">Your booking for {{ booking.event }} has been cancelled</h1>
            </div>

            <div class="panel-body">
                {% if booking.event.bookable and not full %}
                    <p>Click below to rebook.</p>
                    <a href="{% url 'booking:book_event' booking.event.slug %}"><div id="rebook_button" class="btn btn-success table-btn">Rebook</div></a>
                {% elif full %}
                    <p>This {{ ev_type }} is now full</p>
                    <p>Click below to join the waiting list</p>
                    <form action="{% url 'booking:book_event' booking.event.slug %}" method="get">
                        <input id = "join_waiting_list_button" class="btn btn-success table-btn" type="submit" value="Join waiting list" name="join waiting list"/>
                    </form>
                {% else %}
                    <p>This {{ ev_type }} cannot currently be booked.</p>
                {% endif %}
            </div>

       </div>
</div>
{% endblock content %}
