{% extends 'website/email/email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

    <p>Your booking for {{ event }} has been refunded/compensated.</p>

<p><a href="{{ host }}{% url 'booking:bookings' %}">View your bookings</a></p>
</div>
{% endblock %}