{% extends 'website/email/email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>Dear {{ user }},</p>

<p>Your payment to has now been processed.</p>

<p><strong>Booking reference:</strong>{{ obj.booking_reference }}</p>
<p><strong>Payment for:</strong> {{ obj.event.name }}</p>
<p><strong>Fee paid:</strong> £ {{ fee }}</p>
<p><strong>Invoice number:</strong> {{ invoice_id }}</p>

</div>
{% endblock %}
