{% extends "website/_base.html" %}
{% load static %}

{% block content %}

<div>

    <h1>Cookie Policy</h1>
    <h4>Version: {{ cookie_policy.version }}.  Issue date: {{ cookie_policy.issue_date | date:'d M Y' }}.</h4>

    <p>
        {{ cookie_policy.content | linebreaks | safe }}
    </p>


    <p>For further information, please contact
        <a href="mailto:carouselfitness@gmail.com">carouselfitness@gmail.com</a>.</p>

    <p>View our full data privacy policy <a href="{% url 'data_privacy_policy' %}">here.</a></p>


</div>

{% endblock content %}