{% extends "website/_base.html" %}
{% load static %}

{% block content %}

<div>

    <h1>Data Privacy Policy</h1>
    <h4>Version: {{ data_privacy_policy.version }}.  Issue date: {{ data_privacy_policy.issue_date | date:'d M Y' }}.</h4>

    <p>
        {{ data_privacy_policy.content | linebreaks | safe }}
    </p>

    <h1>Cookie Policy</h1>
    <h4>Version: {{ cookie_policy.version }}.  Issue date: {{ cookie_policy.issue_date | date:'d M Y' }}.</h4>
    <p>
        {{ cookie_policy.content | linebreaks | safe }}
    </p>

    <p>For further information, please contact
        <a href="mailto:carouselfitness@gmail.com">carouselfitness@gmail.com</a></p>
</div>

{% endblock content %}