{% load bootstrap3 static crispy_forms_tags %}

{% block extrahead %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g==" crossorigin="anonymous" />
{% endblock %}

{% if form.errors %}
    <div class="errorlist">Please correct the errors below</div>
    {{ form.non_form_errors }}
{% endif %}

   <form class="dirty-check" action="" method="post">
       {% csrf_token %}
        {% crispy form %}
   </form>


{% block extrascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous"></script>
    <script src="{% static 'accounts/datetimepickers.js' %}"></script>
{% endblock %}