{% extends 'website/_base.html' %}
{% load accounttags %}

{% block content %}
{% load crispy_forms_tags %}
    <div>
        <h2>Edit Your Contact and Emergency Contact Information</h2>
    </div>
    {% if form.errors %}
        <div class="errorlist">Please correct the errors below</div>
    {% endif %}

       <form class="dirty-check form" action="" method="post">
           {% csrf_token %}
            {% crispy form %}
       </form>

{% endblock %}
