{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
<link href="{% static 'website/css/admin-extra.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="row">
    <div class="admin-center">

    <h1>Confirm payment has been refunded</h1>
    <hr>
    <p>{{ booking.user.first_name }} {{ booking.user.last_name }}
    ({{ booking.user.username }})'s booking for
        <strong>{{ booking.event }}</strong> has been cancelled or a refund has been requested.</p>

    {% if booking.paid %}
        <p>Click the button below to confirm that the payment has been refunded.
            {{ booking.user.first_name }} will be sent a confirmation
            email.</p>

        <form action="" method="post">{% csrf_token %}
            <span class="hide">{{ form }}</span>
            <input class="btn btn-success" type="submit" name='confirmed' value="Confirm" />
            <input class="btn btn-danger" type="submit" name='cancelled' value="Cancel" />
        </form>
    {% else %}
        <p>This booking is unpaid or payment has already been refunded.</p>
    {% endif %}
    </div>
</div>

{% endblock %}