{% extends 'website/email/email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<h4>Your payment has not been received for {{ event }} and your booking has now been cancelled.</h4>

<p>
    For further information please contact
    <a href="mailto:{{ booking.event.contact_email }}">{{ event.contact_email }}</a>
</p>
</div>
{% endblock %}
