{% extends "studioadmin/base.html" %}
{% load static studioadmintags %}

{% block subcontent %}
<div class="row">
    <div class="col-xs-12">
    <h2>Outstanding cancellation fees for {{ user_with_fees.first_name }} {{ user_with_fees.last_name }}</h2>
    </div>
</div>
<div class="row">
{% if user_bookings_with_fees %}
    <table class="table table-responsive table-striped" id="sortedFeesForUserTable">
                    <thead class="thead-dark">
                    <tr>
                        <th>Class / Workshop</th>
                        <th class="table-center">Date/Time Cancelled</th>
                        <th class="table-center no-sort">Fees Due</th>
                        <th class="table-center no-sort">Update<br/>
                            <span class="studioadmin-help">Change payment status or remove fee entirely</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in user_bookings_with_fees %}
                    <tr>
                        <td>{{ booking.event.name }} - <span class="studioadmin-help small">{{ booking.event.date|formatted_uk_date:"%d %b %H:%M" }}</span></td>
                        <td class="table-center">
                            {% if booking.date_cancelled %}
                            <span class="studioadmin-help small">{{ booking.date_cancelled|formatted_uk_date:"%d %b %H:%M" }}</span>
                            {% elif booking.no_show %}
                                    <span class="studioadmin-help small">No show</span>
                            {% endif %}
                        </td>
                        <td class="table-center studioadmin-tbl event-fee">£{{ booking.event.cancellation_fee }}</td>
                        <td class="table-center">
                            <span
                                id="fee_{{ booking.id }}"
                                data-booking_id="{{ booking.id }}"
                                data-user_id="{{ booking.user.id }}"
                                class="td_ajax_fee_btn">
                                {% include "studioadmin/includes/fees_paid_toggle.html" %}
                            </span>
                            <span
                                id="remove_fee_{{ booking.id }}",
                                data-booking_id="{{ booking.id }}"
                                class="td_ajax_remove_fee_btn">
                                <button class="btn btn-sm btn-dark btn-remove-fee" id="remove_fee_btn_{{ booking.id }}">Remove fee</button>
                            </span>

                            </td>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot class="table-dark">
                        <tr>
                            <td colspan="2">Total fees:</td>
                            <td class="table-center">£<span id="total-fees">{{ user_with_fees.outstanding_fees_total }}</span></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
{% else %}
    No outstanding fees.
{% endif %}
</div>

{% endblock subcontent %}

{% block extra_page_js %}
<script type='text/javascript' src="{% static 'studioadmin/js/toggle_user_cancellation_fees_ajax.js' %}"></script>
<script>
    $jq(document).ready(function() {
        $jq('#sortedFeesForUserTable').DataTable({
            "paging": false,
            "info": false,
            "lengthChange":     false,
            "searching": false,
            "responsive": true,
            columnDefs: [{
              orderable: false,
              targets: "no-sort"
            }]
        });
    });
</script>
{% endblock %}
