{% extends "studioadmin/base.html" %}
{% load static studioadmintags %}

{% block subcontent %}
<div class="row header">
    <div class="col-sm-12">
    <h2>Students with outstanding cancellation fees</h2>
    </div>
</div>
{% if users_with_outstanding_fees %}
<div class="row">
        <table class="table table-responsive table-striped" id="sortedUserFeesTable">
            <thead class="thead-dark">
            <tr>
                <th class="table-center">Name</th>
                <th class="table-center">Email</th>
                <th class="table-center">Cancellation Fees<br/><span class="studioadmin-help">Click for details</span></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users_with_outstanding_fees %}
            <tr>
                <td class="table-center studioadmin-tbl">{{ user.first_name|abbr_name }} {{ user.last_name|abbr_name }} ({{ user.username|abbr_username }})</td>
                <td class="table-center studioadmin-tbl"><a href="mailto:{{ user.email }}" target="_blank">{{ user.email|abbr_email }}</a></td>
                <td class="table-center">
                    <span class="fees">
                        {% if user.has_outstanding_fees %}
                            <span class="fees-due"><a href="{% url 'studioadmin:user_fees' user.id %}">£{{ user.outstanding_fees_total }} <i class="far fa-arrow-alt-circle-right"></i></a></span>
                        {% else %}
                            -
                        {% endif %}
                    </span>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
</div>
{% else %}
No outstanding fees.
{% endif %}


{% endblock subcontent %}

{% block extra_page_js %}
<script>

    $(document).ready(function() {
        $('#sortedUserFeesTable').DataTable({
            "info": false,
            "lengthChange":     false,
            "searching": false,
            "responsive": true
        });
    } );

</script>
{% endblock %}