.admin-center > h1, .admin-center > h2, .admin-center > h3, .admin-center > p, .admin-center > form {
    padding-left: 20px;
    margin-left: 0;
}

.admin-center > h2 {
    font-size: x-large;
    margin-bottom: 15px;
    margin-top: 15px;
}

.admin-center > h3 {
    font-size: large;
}


.admin-center > p {
    font-size: small;
    line-height: 1.5;
}

.admin-center > form > div > label {
    font-weight: bold;
}

span.helptext {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}

.form-error {
    color: red;
}

.upload-timetable-form > label {
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: bold;
}

.upload-timetable-form > ul.select-checkbox {
    list-style: None;
}

label.select-all-label {
    display: inline-block;
}

.new-doc {
    color: red;
}

.admin-divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: darkgrey;
}

.suit-form > .form-group {display: flex;}