.plain_bg {
	background-color: #fff;
}

.logo_bg {
	background: url(../images/logo_faded.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background-color: transparent;
	padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}


html,
body {
	height: 100%;
}

.logo-header {
    padding-top: 40px;
}

/* Wrapper for page content to push down footer */
.wrap {
	padding-top: 70px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -85px;
}

/* Set the fixed height of the footer here */
.push,
.footer {
	height: 80px;
}

.footer {
	background-color: transparent;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	.footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* footer boxes alignment */

.footer_box {
    position: relative;
}

div.footer > div > div > div.col-sm-5.pull-left > div.footer-fb > a {
    font-size: 10px;
    color: black;
}
div.footer > div > div > div.col-sm-5.pull-left > div.footer-fb > a > span {
    font-size: medium;
    color: #3b5998;
}

.footer_logo {
    position: absolute;
    bottom:0;
    right: 0;
}


/* Half Page Height Carousel Customization */
.carousel {
	height: 60%;
}

.item,
.active,
.carousel-inner {
	height: 100%;
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

/* Responsive Styles */
@media (max-width: 767px) {

	.carousel {
		height: 100%;
		/* increases the carousel height so it looks good on phones */
	}
	.caption-img {
	    height: 20px;
	}
    .carousel-cap-text {
    font-size: 100%;
    }
}

/* carousel top caption */
.caption-top {
	top: 0;
	right: 0;
	bottom: auto;
}

.grid_ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.grid_ul_li {
	list-style: none;
	padding: 0 0 0 0;
	margin: 10px 0 0 0;
}

ul li img {
	cursor: pointer;
}

.photogrid {
	width: 100px;
	height: 100px;
	padding: 0 0 0 0;
	overflow: hidden;
}

.list-group-index {
    background-color: transparent;
    border:none;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: none;
}

.nav-logo {
    max-height: 30px;
    margin-top: -5px;
}

.footer-logo-image {
    height:50px;
}

div .instr-img-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin-top: 25px;
        padding-bottom: 0;
        position: relative;
    }

@media(max-width: 990px){
    div .instr-img-container {
        width: 175px;
        height: 175px;
        overflow: hidden;
    }
}

.instr-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.event_line{
border-bottom: 1px solid black;
}

.event_date {
    padding-top:20px;
}

/* unvisited link */
a:link {
color: #8c668d;
}

/* visited link */
a:visited {
color: #8c668d;
}

/* mouse over link */
a:hover {
color: #f2bd49;
}

/* selected link */
a:active {
color: #8c668d;
}

a.footer-link {
    font-weight: 500;
    font-size: small;
}

.fb-follow {
    margin-top: 5px;
}



.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 200px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 200px;
      width: 200px;
      transition: all 0.4s ease 0s;
    }

    #menu-toggle {
      display: inline-block;
    }

    .inset {
      padding: 15px;
    }

}


.sidebar_active{
    color: #FACC2E
}
.sidebar_inactive{
    color: #000
}

.modal-body {
    padding: 15px;
    padding-bottom: 0;
    overflow-y: auto;
 }

  .modal-header {
    padding-bottom: 5px;
    padding-top: 5px;
    overflow-y: auto;
 }

 .modal-footer {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    overflow-y: auto;
 }


.timetable-data{
    font-size: small;
    width: 14%; }

    /* unvisited link */
a.timetable-data-full {
color: #DF0101;
}

a.timetable-data-space {
color: #088A08;
}


.footer-credit {
    font-size: 10px;
    }

.fixed-table {
padding-left: 30px;
}

td, th{
border-right: 1px solid white;
border-left: 1px solid white;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #4B088A;
}

.extra-top-margin {
    padding-top: 30px;
}

.reduce-top-margin {
    margin-top: -30px;
}

.extend-content-area {
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px;
    margin-bottom:100px;
    margin-right:80px;
    margin-left:80px;
}

.main-panel {
	border-left: 1px solid #4B088A;
	border-right: 1px solid #4B088A;
}

.navbar { background-color: #664067; border-color: #f2bd49}
.navbar .container-fluid { background-color: #664067}
.navbar .navbar-nav { background-color: #664067}
.navbar .navbar-brand { background-color: #664067}
.navbar .navbar-collapse { background-color: #664067}
.navbar .navbar-toggle .icon-bar { background-color: #f2bd49}
.navbar .navbar-nav>.active-nav>a:hover {background-color: #f2bd49; color: #664067}
.navbar .navbar-nav>li>a:hover {background-color: #664067; color: #FCEAC5; font-weight: normal;}
.navbar .navbar-nav>li>a.active {background-color: #f2bd49; color: #664067; font-weight: normal;}
.navbar .navbar-nav>li>a {background-color: #664067; color: #f2bd49; font-weight: normal;}
.navbar .navbar-nav>li>a.dropdown-toggle {background-color: #664067; color: #f2bd49; font-weight: normal;}
.navbar .navbar-nav>li>a.dropdown-toggle:hover {background-color: #664067; color: #FCEAC5; font-weight: normal;}

.navbar .navbar-nav .open .dropdown-menu>li>a, .navbar .navbar-nav .open .dropdown-menu {
    color:#664067;
  }

@media(max-width: 767px){
    .navbar .navbar-nav .open .dropdown-menu>li>a.account-menu-option {
        background-color: #664067;
        color: #f2bd49;
    }
    .navbar .navbar-nav .open .dropdown-menu>li>a.account-menu-option:hover {
        background-color: #f2bd49;
        color: #664067;
    }
}

.dropdown-menu > li>.active > a, .dropdown-menu > li .hidden-md >.active > a {
	 background-color: #f2bd49;
	 background-image: none;
     font-weight: normal;
 }

body > div.wrap > div.navbar.navbar-fixed-top > div > div.navbar-collapse.collapse.in > ul.nav.navbar-nav.pull-right > li > ul > li:nth-child(1) > a

.venue-address {
    height: 120px;
}

td.timetable-row {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: small;
	vertical-align: middle !important;
    width: 1%;
    white-space: nowrap;
}

.label.label-rounded.label-spaces {
    display: block;
    border-radius: 25px;
    width: 58px;
    padding-top: 4px;
    padding-bottom: 4px;
}

td span.label.label-rounded.label-spaces{
    display:inline-block;
    text-align:center;
}

.label.label-rounded {
    display: block;
    border-radius: 25px;
    width: 130px;
    line-height: 1.25;
    padding-left: 0;
    padding-right: 0;
    font-size: 85%;
    font-weight: 300;
}

.label-rounded.label-member {
    width: 160px;
    line-height: 1.1;
    margin-bottom: 2px;
}

.label-rounded.label-member-title {
    font-size: 100%;
    font-weight: 400;
}

.venue-edinburgh {
    background-color: rgba(220,0,0,0.15);
}
.venue-inverkeithing {
    background-color: rgba(122,62,126,0.15);
}
.venue-cowdenbeath {
    background-color: rgba(242,189,73,0.15);
}
.venue-energyzone {
    background-color: rgba(0,0,255,0.15);
}

.table-btn {
    padding-top: 0;
    padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
    font-size: 85%;
    line-height: 1.75;
    width: 120px;
}

span.label.label-primary.label-membership {
  font-weight: 500;
  padding: .2em .6em .2em;
  margin-left: 5px;
}

.paypal-table-btn {
    padding-top: 0;
    padding-bottom: -10px;
    margin-top: 0;
    margin-bottom: 0;
    height: 1.8em;
	width: 120px;
    }

.paypal-btn-form {
    padding-bottom: 0;
    margin-bottom: 0
}

.booking-btn {
    width: 150px;
    }
.table-center {
    text-align: center !important;
}
.required {
    color: red;
    font-weight: bold;
}
.help-text {
    font-size: smaller;
    font-style: italic;
}

label {
    display: inline;
	margin-bottom: 0;
}
.regular-checkbox {
    display: none;
}
.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label {
    background-color: #FFF;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #173B0B;
}

.cbox {
    margin-top: 10px;
}

.panel-booking {
    background-color: rgba(220,220,220, 0.3);
    border: solid 1px #4B088A;
}

.panel-heading {
    background-color: rgba(242,189,73,0.3);
}
.panel-transparent  {
    background-color: rgba(230,230,230,0.7);
}

.filter {
    padding-left: 0;
    padding-right: 5px;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    }

.member-data {
    background-color: rgba(242,189,73,0.4);
}

.btn-group-vertical > .btn-gallery {
    max-width: 200px;
    white-space: normal;
    font-size: 85%;
    padding: 4px;
    text-align: left;
}

.btn-group-vertical > .btn-gallery > .badge {
    font-weight: 200;
    font-size: 85%;
    padding-top: 1px;
    background-color: rgba(100,100,100, 1);
}

.btn-group-vertical > .btn-gallery.btn-gallery-active {
    background-color: rgba(122,62,126, 1);
    color: white;
}

.btn-group-vertical > .btn-gallery.btn-gallery-active > .badge {
    background-color: rgba(242,189,73, 1);
    color: rgba(122,62,126, 1);
}

.btn-gallery.btn-modal {
    background-color: rgba(122,62,126, 1);
    color: white;
}

a>.btn, a.btn, a.btn.btn-success {
    color: #fff !important;
    text-decoration: none;
}
a:visited>.btn, a:link>.btn {
    color: #fff !important;
    text-decoration: none;
}

.fading {
  width: 450px;
  height: 320px;
  position: relative;
  margin:0 auto;
}

.fading > img {
  position: absolute;
  max-height: 320px;
  width: auto; margin: auto;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: anim 14s infinite;
  -moz-animation: anim 14s infinite;
  -o-animation: anim 14s infinite;
  -ms-animation: anim 14s infinite;
  animation: anim 14s infinite;
}

@media only screen and (max-width:480px) {
    .fading {
        width: 320px;
        height: 220px;
    }
    .fading > img {
        max-width: 320px;
    }
}

.fading > img:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -animation-delay: 0s;
}
.fading > img:nth-child(2) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -animation-delay: 2s;
}
.fading > img:nth-child(3) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  -ms-animation-delay: 4s;
  -animation-delay: 4s;
}
.fading > img:nth-child(4) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  -animation-delay: 6s;
}
.fading > img:nth-child(5) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  -ms-animation-delay: 8s;
  -animation-delay: 8s;
}
.fading > img:nth-child(6) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  -animation-delay: 10s;
}
.fading > img:nth-child(7) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  -animation-delay: 12s;
}
.fading > img:nth-last-child(7):first-child,
.fading > img:nth-last-child(7):first-child ~ .fading > img {
  -webkit-animation-duration: 14s;
  -moz-animation-duration : 14s;
  -o-animation-duration: 14s;
  -ms-animation-duration: 14s;
  -animation-duration: 14s;
}

@-webkit-keyframes anim {
  0% { opacity: 0; z-index: 100;}
  10% { opacity: 1;}
  50% { opacity: 1;}
  100% { opacity: 0; z-index: 1;}
}
@-moz-keyframes anim {
  0% { opacity: 0; z-index: 100;}
  10% { opacity: 1;}
  50% { opacity: 1;}
  100% { opacity: 0; z-index: 1;}
}
@-o-keyframes anim {
  0% { opacity: 0; z-index: 100;}
  10% { opacity: 1;}
  50% { opacity: 1;}
  100% { opacity: 0; z-index: 1;}
}
@-ms-keyframes anim {
  0% { opacity: 0; z-index: 100;}
  10% { opacity: 1;}
  50% { opacity: 1;}
  100% { opacity: 0; z-index: 1;}
}
@keyframes anim {
  0% { opacity: 0; z-index: 100;}
  10% { opacity: 1;}
  50% { opacity: 1;}
  100% { opacity: 0; z-index: 1;}
}

td.timetable-row.session-level-td {
    white-space: normal;
    max-width: 200px;
}


.table.table-book-classes >  tbody > tr > td {
  padding: 2px;
}

.wl-table-form {
	margin: 0;
}

.message {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    opacity: 0.7;
}

button {
    display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

button:active {
      background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

button:hover,
button:focus,
button:active {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}

.selector .help-icon {
    background: url(../admin/img/icon-unknown.svg) 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    width: 13px;
    height: 13px;
}

.selector .selector-chosen .help-icon {
    background: url(../admin/img/icon-unknown-alt.svg) 0 0 no-repeat;
}

.selector .search-label-icon {
    background: url(../admin/img/search.svg) 0 0 no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
}

.img-container {
  height: 400px;
}

.img-container > img {
    max-height:400px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.membership-label {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Cookie law banner*/
div#CookielawBanner {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px;
  font-size: smaller;
  border: solid 1px rgba(255, 0, 0, 0.5);
  margin: 5px;
}


.btn-cookie {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0;
  font-size: small;
}

.dp-box {
    border: 1px solid black !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

form.mock-bs-form > div.form-actions > div > input,
form.mock-bs-form > p > input[type='text'],
  form.mock-bs-form > p > input[type='password'] {
  display: block;
  width: 75%;
  border: 1px solid #ccc;
  color: #555;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
}

@media(max-width: 767px) {
  form.mock-bs-form > div.form-actions > div > input,
  form.mock-bs-form > p > input[type='text'],
  form.mock-bs-form > p > input[type='password'] {
     width: 100%;
  }
}

.expired td, .expired td a, .expired td .confirmed, .expired td .not-confirmed ,
.expired .input-sm {
    color: #BDBDBD !important;
}

.table-row-booked {
  background-color: rgba(99,206,75,0.3);
  color: #4B088A;
}

.pagination > span > a.disabled {
	color: rgba(242,189,73, 0.5);
	pointer-events: none;
}

span.current-page {
    font-weight: bold;
}

.page-header-note {
    font-size: large;
}

.table > tbody > tr > td.table-book-btn-col, table > tr > th.table-book-btn-col {
    max-width: 150px;
}

.alert-outstanding-fees {
    color: black;
    background-color: rgba(205, 33, 30, 0.6) ;
    border-color: #ebccd1;
    font-weight: bold;
}
.alert-outstanding-fees > i {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 1.3em;
}