{% extends 'website/email/email_base.html' %}

{% block messagecontent %}

    <p>{{ first_name }} {{ last_name }} ({{ email_address }}) has requested to book for {{ session }} ({{ date_booked }})</p>

    {% if additional_msg %}Additional message from {{ first_name }}:{% endif %}

    <p>{{ additional_msg|linebreaks }}</p>

    <p>To confirm {{ first_name }}'s booking, please reply to this email.</p>

{% endblock messagecontent %}