{% load static %}

<html>
<body>

<div class="row">
    <div class="col-sm-12">
    {% block messagecontent %}{% endblock %}
    </div>

    <div class="row" style="padding-top: 1em;">
        <hr>
        <div class="col-xs-4">
            <a href=http://www.carouselfitness.co.uk"><img src="http://www.carouselfitness.co.uk/static/website/images/logo.jpg"
            width="100"
            height="auto"
            border="0"
            alt="Carousel Fitness logo">
            </a>
        </div>
        <div class="col-xs-6" style="font-family: sans-serif; padding-top: 1em;">
            carouselfitness@gmail.com
        </div>
    </div>
</div>

</body>
</html>
