
{% load bookingtags %}

{% if alert_message %}
    {% if alert_message.message_type == 'warning' %}
        <script>vNotify.warning({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% elif alert_message.message_type == 'success' %}
        <script>vNotify.success({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% elif alert_message.message_type == 'error' %}
        <script>vNotify.error({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% else %}
        <script>vNotify.info({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% endif %}
{% endif %}

{% if booking and booking.status == "OPEN" and not booking.no_show or bookingform.booking_status == 'OPEN' %}
    <button class="btn table-btn btn-danger cancel_button" id="cancel_button">Cancel</button>
{% else %}
    <button class="btn table-btn btn-success book_button">{% if ref == 'bookings' or bookings %}Rebook{% else %}Book{% endif %}{% if event.members_only %}  <span class="label label-primary label-membership">Members only</span>{% endif %}</button>
{% endif %}
