{% load bookingtags %}

<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% else %}
            <a class="disabled" disabled=disabled href="#">Previous</a>
        {% endif %}
        --
        {% for i in paginator.num_pages|get_range:1 %}
            {% if i != page_obj.number %}
                <a href="?page={{ i }}">{{ i }}</a>
        {% else %}<span class="current-page">{{ i }}</span>
            {% endif %}
        {% endfor %}
        --
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
            <a class="disabled" href="#">Next</a>
        {% endif %}
    </span>
</div>
